
.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    grid-area: cabecalho;
}

.cabecalho .logo h1 {
    font-size: 26px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.cabecalho .logo h1:hover {
    color: coral;
}

.cabecalho nav ul {
    display: flex;
}

.cabecalho nav ul li a {
    font-weight: 300;
    padding: 10px 25px;
    transition: 0.2s ease-in-out;
    font-size: 15px;
}

.cabecalho nav ul li a:hover {
    color: white;
    background-color: coral;
    border-radius: 50px;
}

.cabecalho nav .menu {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
}

.cabecalho nav .menu .hamburguer {
    width: 40px;
    height: 5px;
    background-color: black;
    display: inline-block;
    position: relative;
    top: 10px;
    left: 5px;
    transition: 0.2s ease-in-out;
}

.cabecalho nav .menu .hamburguer::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: -10px;
    display: inline-block;
    transition: 0.2s ease-in-out;
}

.cabecalho nav .menu .hamburguer::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    bottom: -10px;
    display: inline-block;
    transition: 0.2s ease-in-out;
}

.cabecalho nav input {
    display: none;
}



@media (max-width: 900px) {

    .cabecalho {
        padding: 20px 0 20px 50px;
        align-items: flex-start;
    }

    .cabecalho nav label {
        display: flex;
        justify-content: flex-end;
    }

    .cabecalho input:checked ~ label .menu .hamburguer {
        transform: rotate(45deg);
    }

    .cabecalho input:checked ~ label .menu .hamburguer::before {
        transform: rotate(90deg);
        top: 0;
    }

    .cabecalho input:checked ~ label .menu .hamburguer::after {
        transform: rotate(90deg);
        bottom: 0;
    }

    .cabecalho input:checked ~ ul {
        display: block;
        padding: 40px;
        background-color: #ffffff;
    }

    .cabecalho nav ul li a {
        text-align: center;
        display: block;
        margin-bottom: 50px;
    }

    .cabecalho nav {
        position: absolute;
        right: 0;
        z-index: 1;
        top: 18px;
    }

    .cabecalho nav .menu {
        display: block;
        margin-right: 30px;
    }

    .cabecalho nav ul {
        display: none;
    }
}